
#container {
    background-color: hsl(47, 88%, 63%);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Figtree', Arial, sans-serif;
}
#box{
    background-color: white;
    width: 384px;
    padding: 24px;
    margin: 0;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px  0px black;
}
 #img img {
    width: 100%; 
    border-radius: 10px; 
    margin-bottom: 20px; 
} 
#par1{
    padding: 6px 12px;
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    color: black;
    border-radius: 5px;
    font-weight: 800; 
    font-size: 14px;
    margin-bottom: 12px;
}
h1 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
    cursor: pointer; 
}
h1:hover {
    color: hsl(47, 88%, 63%); 
}
#par2 {
    font-size: 14px;
    margin-bottom: 16px;
}
#par3 {
    color: hsl(0, 0%, 42%); /* Gray color from specs */
    line-height: 1.5; /* Better readability */
    margin-bottom: 20px;
}


.author {
    display: flex;
    align-items: center;
    gap: 12px;
}
#par4 {
   
   
   
    font-weight: 800;
    font-size: 14px;
}